body {
  font-family: Arial, sans-serif;
  color: white;
  margin: 0;
  height: 100vh;
  display: flex;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  background-color: #ffffff;
}

.right {
  right: 0;
  background-color: rgb(71, 37, 240);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 30px;
  border-radius: 5px;
  text-align: center;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered img {
  width: 100%;
  max-width: 770px;
  height: auto;
}

a {
  color: #ccc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

label {
  margin-bottom: 5px;
  display: block;
  text-align: left;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
  text-align: left;
}

.checkbox-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.checkbox-container a {
  font-size: 12px;
  color: #999;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #0067cc;
}
